<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  


<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <span>Home</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with Notification icon">
      <mat-icon>notifications_none</mat-icon>
    </button>
  </mat-toolbar-row>

     <mat-toolbar-row>
     <form class="tp">
      <mat-icon>search</mat-icon><textarea matInput placeholder = "Search job or location"></textarea><mat-icon>clear_all</mat-icon>
     </form> 
    </mat-toolbar-row> 