<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  


<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <span>Home</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with Notification icon">
      <mat-icon>notifications_none</mat-icon>
    </button>
    <span></span>
  </mat-toolbar-row>  

     <mat-toolbar-row class="mtr">
       <div class="basic-container">
       <form class="example-form"> 
        <mat-form-field class="example-full-width" >
          <mat-label></mat-label>
          <button mat-icon-button><mat-icon matIconPrefix>search</mat-icon></button>
          <input type="search" matInput>
          <button class="clear" mat-icon-button><mat-icon matIconSuffix>clear_all</mat-icon></button>
        </mat-form-field>
      </form>
      
    </div>
    </mat-toolbar-row> 
  </mat-toolbar>


