.example-spacer{
    flex: 1 100%;
  }
  
  
  .toolbar {
    background-color: rgb(235, 226, 226);
    color: black;
   
  }

  .clear {
  left: -55%;
  top: -60%;
  }

  .mat-mdc-form-field-infix {
 width: 280px;
  }