.example-spacer{
    flex: 1 100%;
  }

  .toolbar {
    background-color: rgb(235, 226, 226);
    color: black;
  }

  .clear {
  left: -10%;
  top: -30%;
  }

  .search {
    right: -5%
    top -30%
  }

  .example-full-width {
    width : 71em;
    height: 0,5em;
  }