<mat-chip-listbox aria-label="State selection">
    <mat-chip-option color="{{color}}">Created</mat-chip-option>
    <mat-chip-option color="{{color}}">Active</mat-chip-option>
    <mat-chip-option color="{{color}}" selected>Open</mat-chip-option>
    <mat-chip-option color="{{color}}">Approved</mat-chip-option>
    <mat-chip-option color="{{color}}">Submitted</mat-chip-option>
    <mat-chip-option color="{{color}}">Completed</mat-chip-option>
    <mat-chip-option color="{{color}}">Updated</mat-chip-option>
    <mat-chip-option color="{{color}}">Expired</mat-chip-option>
    <mat-chip-option color="{{color}}">Overdue</mat-chip-option>
    <mat-chip-option color="{{color}}">Blocked</mat-chip-option>
  </mat-chip-listbox>