<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  

<!-- <button type="button" [ngClass]="buttonClass">{{ text }}</button> -->

<!-- <div class="example-button-row">
    <button {{materialDirective}}
    extended={{extended}}
    color={{color}}>
      <mat-icon>favorite</mat-icon>
      {{ text }}
    </button> -->

            <button mat-button color="{{color}}">{{text2}}</button>

        <br><br><br>

            <button mat-fab color="{{color}}">
            <mat-icon>{{text}}</mat-icon>
            </button> 

        <br><br><br>

            <button mat-mini-fab color="{{color}}">
            <mat-icon>{{text}}</mat-icon>
            </button>

        <br><br><br>

            <button mat-raised-button color="{{color}}">{{text2}}</button>

        <br><br><br>

            <div class="example-button-row">
            <button mat-fab extended color="{{color}}">
            <mat-icon>{{text}}</mat-icon>
            {{text2}}
            </button>

      
    
    <!-- <button mat-fab extended color="accent">
      <mat-icon>favorite</mat-icon>
      Accent
    </button>
    <button mat-fab extended color="warn">
      <mat-icon>favorite</mat-icon>
      Warn
    </button>
    <button mat-fab extended disabled>
      <mat-icon>favorite</mat-icon>
      Disabled
    </button> -->

  <!-- </div> -->


