<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  


            <button mat-button color="{{color}}">{{text2}}</button>

        <br><br><br>

            <button mat-fab color="{{color}}">
            <mat-icon>{{text}}</mat-icon>
            </button> 

        <br><br><br>

            <button mat-mini-fab color="{{color}}">
            <mat-icon>{{text}}</mat-icon>
            </button>

        <br><br><br>

            <button mat-raised-button color="{{color}}">{{text2}}</button>

        <br><br><br>

            <div class="example-button-row">
            <button mat-fab extended color="{{color}}">
            <mat-icon>{{text}}</mat-icon>
            {{text2}}
            </button>



