@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

.storybook-button {
    border-radius: 7px;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

 .primary {
     color:green
 }

